@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black/subset-Gotham-Black.eot');
    src: url('fonts/Gotham-Black/subset-Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Black/subset-Gotham-Black.woff2') format('woff2'),
        url('fonts/Gotham-Black/subset-Gotham-Black.woff') format('woff'),
        url('fonts/Gotham-Black/subset-Gotham-Black.ttf') format('truetype'),
        url('fonts/Gotham-Black/subset-Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans-Light/subset-OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light/subset-OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Light/subset-OpenSans-Light.woff2') format('woff2'),
        url('fonts/OpenSans-Light/subset-OpenSans-Light.woff') format('woff'),
        url('fonts/OpenSans-Light/subset-OpenSans-Light.ttf') format('truetype'),
        url('fonts/OpenSans-Light/subset-OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular/subset-OpenSans.eot');
    src: url('fonts/OpenSans-Regular/subset-OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular/subset-OpenSans.woff2') format('woff2'),
        url('fonts/OpenSans-Regular/subset-OpenSans.woff') format('woff'),
        url('fonts/OpenSans-Regular/subset-OpenSans.ttf') format('truetype'),
        url('fonts/OpenSans-Regular/subset-OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

  @keyframes my-animation {
    from,
    50%,
    to {
      opacity: 1;
      border-radius: 5px;
      background-color: rgb(255, 122, 28);
    }
  
    25%,
    75% {
      opacity: 0.45;
      background-color: chocolate;
      border-radius: 5px;
    }
  }

* {
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.container{
    max-width: 1173px;
    margin: 0 auto;
}

.logo{
    width: 50px;
    height: 48px;
    background-image: url('images/logo.png');
    float: left;
    margin-top: 22px;
}

.nav{
    width: 851px;
    float: right;
    margin-top: 30px;
    margin-bottom: 29px;
}

.menu-item{
    float: left;
}

.menu-item:last-child{
    margin-right: 0;
}

.link{
    display: block;
    text-decoration: none;
    color: #868686;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 11px 20px;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.link:hover{
    color: #ffffff;
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    padding: 11px 20px;
    border-radius: 3px;
}

.sub-header::after{
    content: '';
    clear: both;
    display: block;
}

.menu::after{
    content: '';
    clear: both;
    display: block;
}

.forms{
    background-color: #709dca;
    padding-top: 109px;
    height: 589px;
    margin-bottom: 201px;
}

.title{
    color: #ffffff;
    font-family: 'Gotham-Black',sans-serif;
    text-transform: uppercase;
}

.title-forms{
    font-size: 35px;
    line-height: 37px;
    letter-spacing: -0.88px;
    text-align: center;
}

.forms-short{
    color: #ffffff;
    font-family: 'OpenSans-Light',sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 29px;
}

.sub-forms{
    text-align: center;
}

.sub-form{
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.form{
    width: 281px;
    height: 46px;
    color: #a9a9a9;
    font-family: 'OpenSans-Regular',sans-serif;
    font-size: 13px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    transition: 0.3s;
    padding-left: 41px;
}

.form:hover{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
}

.request{
    width: 211px;
    height: 46px;
    color: #a9a9a9;
    text-align: center;
    font-family: 'OpenSans-Regular',sans-serif;
    font-size: 14px;;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 3px;
    transition: 0.3s;
}

.request:hover{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
}

.laptop{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    top: 63px;
}

.rounds{
    text-align: center;
    position: relative;
    top: 63px;
}

.round{
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #dedfe0;
    background-color: #ffffff;
    margin-right: 10px;
    transition: 0.4s;
}

.round:hover{
    border: 2px solid #1ca8dd;
}

.icon{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 400;
}

.title-services{
    color: #394b50;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.75px;
    text-align: center;
}

.text{
    color: #ffffff;
    font-family: 'OpenSans-Regular',sans-serif;
    line-height: 22px;
}

.text-services{
    color: #394b50;
    font-size: 16px;
    text-align: center;
    margin-bottom: 87px;
}

.first{
    width: 525px;
    float: left;
    margin-bottom: 150px;
}

.sub-first{
    padding-left: 83px;
    position: relative;
}

.second{
    width: 551px;
    float: right;
}

.sub-second{
    padding-left: 83px;
    position: relative;
}

.sub-title{
    display: inline-block;
    vertical-align: top;
    color: #394b50;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-decoration: none;
}

.sub-text{
    color: #7b7b7b;
    font-size: 13px;
    margin-bottom: 71px;
}

.sub-services::after{
    display: block;
    content: '';
    clear: both;
}

.last{
    margin-bottom: 0;
}

.sub-icon{
    text-decoration: none;
}

.sub-icon:hover{
    color: #f6772c;
    transition: 0.3s;
}

.sub-icon{
    position: absolute;
    color: #709dca;
    top: 0px;
    left: 0px;
    font-size: 50px;
    line-height: 52px;
}

.sub-title:hover +.sub-icon{
    color: #f6772c;
    transition: 0.3s;
}

.dollar{
    left: 14px;
}

.table{
    background-color: #ffc155;
    position: relative;
}

.sub-table::after{
    display: block;
    clear: both;
    content: '';
}

.image{
    width: 50%;
    height: 100%;
    background: url('images/table.png');
    position: absolute;
    right: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.orange{
    width: 505px;
    float: right;
    padding: 163px 0 174px 0;
}

.title-orange{
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.75px;
    margin-bottom: 22px;
}

.text-orange{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 50px;
}

.read_more{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 33px 18px 33px;
    border: 1px solid #e7ad48;
    background-color: #ffc155;
    border-radius: 2px;
}

.read_more:hover{
    transform: scale(1.2);
    animation-name: my-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transition: 0.3s;
}

.cards{
    background-color: #e7edf3;
    padding: 136px 0 194px 0;
    margin-bottom: 154px;
}

.title-cards{
    color: #394b50;
    font-size: 30px;
    letter-spacing: -0.75px;
    text-align: center;
    line-height: 32px;
}

.text-cards{
    color: #75888d;
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-bottom: 77px;
}

.card{
    width: 391px;
    height: 450px;
    border: 1px solid #ccd5df;
    background-color: #ffffff;
    padding: 56px 30px 0 30px;
    text-align: center;
    transition: 0.4s;
    float: left;
}

.card:hover{
    transform: scale(1.15);
    background-color: #709dca;
    border-radius: 5px;
}

.card:hover .title-card,
.card:hover .month,
.card:hover .number,
.card:hover .sub-month,
.card:hover .text-card {
    color: white;
}

.title-card{
    color: #818b95;
    font-family: 'Lato',sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 29px;
}

.per_month{
    width: 87px;
    height: 75px;
    position: relative;
    color: #818b95;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    font-variant: small-caps;
    margin: 0 auto;
    margin-bottom: 32px;
}

.month{
    position: absolute;
    left: 0;
    top: 2px;
    color: #ffbb42;
    font-size: 30px;
    font-weight: 700;
}

.number{
    color: #ffbb42;
    font-size: 60px;
    line-height: 54px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

.sub-month{
    color: #818b95;
    font-weight: 300;
}

.text-card{
    color: #b5bbc1;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    border-top: 1px solid #ccd5df;
}

.last{
    margin-bottom: 17px;
}

.link-card{
    display: inline-block;
    text-decoration: none;
    padding: 15px 21px;
    background-color: #ffbb42;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.link-card:hover{
    animation-name: my-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.sub-cards::after{
    display: block;
    clear: both;
    content: '';
}

.step{
    margin-bottom: 87px;
}

.title-steps{
    color: #394b50;
    line-height: 32px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.75px;
    text-align: center;
}

.text-steps{
    color: #394b50;
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-bottom: 68px;
}

.sub-step{
    width: 213px;
    height: 308px;
    padding-top: 199px;
    float: left;
    margin-right: 107px;
}

.sub-step:last-child{
    margin-right: 0;
}

.step::after{
    display: block;
    clear: both;
    content: '';
}

.title-sub-step{
    color: #394b50;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-bottom: 22px;
}

.text-sub-step{
    color: #7b7b7b;
    font-size: 13px;
    text-align: center;
}

.link-steps{
    width: 166px;
    display:block;
    text-decoration: none;
    padding: 18px 28px;
    background-color: #ffbb42;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 149px;
}

.link-steps:hover{
    transition: 0.3s;
    transform: scale(1.3);
    animation-name: my-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.icon-step{
    position: relative;
}

.icon-step::after{
    position: absolute;
    display: block;
    color: #709dca;
    font-family: 'Font Awesome 5 Free','Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 72px;
    line-height: 74px;
}

.headphones::after{
    top: 38px;
    left: 73px;
    width: 72px;
    height: 68px;
    content: '\f025';
}

.unlock::after{
    top: 36px;
    left: 396px;
    width: 64px;
    height: 74px;
    content: '\f09c';
}

.cloud::after{
    top: 38px;
    left: 704px;
    width: 90px;
    height: 68px;
    content: '\f382';
}

.thumbs-up::after{
    top: 38px;
    left: 1030px;
    width: 72px;
    height: 74px;
    content: '\f164';
}

.arrows1::after{
    top: 40px;
    left: 230px;
    width: 72px;
    height: 72px;
    content: '\f337';
}

.arrows2::after{
    top: 40px;
    left: 550px;
    width: 72px;
    height: 72px;
    content: '\f337';
}

.arrows3::after{
    top: 40px;
    left: 870px;
    width: 72px;
    height: 72px;
    content: '\f337';
}

.clients{
    background-color: #ffc155;
    padding: 140px 0 140px 0;
}

.title-clients{
    font-size: 30px;
    line-height: 32px;
    font-weight: 900;
    letter-spacing: -0.75px;
    text-align: center;
}

.text-clients{
    font-size: 16px;
    text-align: center;
    margin-bottom: 55px;
}

.client{
    width: 567px;
    background-color: #ffffff;
    padding: 47px 41px 47px 182px;
    position: relative;
    float: left;
    margin-right: 37px;
    margin-bottom: 20px;
}

.client:hover{
    transition: 0.4s;
    transform: scale(1.5);
    z-index: 1;
}

.client:nth-child(2n){
    margin-right: 0;
}

.foto{
    width: 121px;
    height: 121px;
    position: absolute;
    left: 30px;
    top: 43px;
}

.text-client{
    color: #7b7b7b;
    font-size: 13px;
    margin-bottom: 20px;
}

.text-client::before{
    position: absolute;
    display: inline-block;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    content: '"';
    left: 166px;
    top: 30px;
    color: #7b7b7b;
    font-size: 30px;
    transform: rotate(180deg);
}

.text-client::after{
    position: relative;
    content: '"';
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    display: inline-block;
    left: 15px;
    top: -2px;
    color: #7b7b7b;
    font-size: 30px;
    transform: rotateX(180deg);
}

.link-client{
    display: block;
    text-decoration: none;
    color: #f6772c;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;  
}

.post{
    color: #99a9ae;
}

.sub-clients::after{
    display: block;
    clear: both;
    content: '';
}

.DM{
    background-image: url('images/client1.png');
}

.ME{
    background-image: url('images/client2.png');
}

.CA{
    background-image: url('images/client3.png');  
}

.ZC{
    background-image: url('images/client4.png');  
}

.footer{
    padding-top: 153px;
}

.map{
    padding-bottom: 57px;
    border-bottom: 1px solid #e3e7ec;
}

.title-map{
    color: #394b50;
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.75px;
    text-align: center;
}

.text-map{
    color: #394b50;
    font-size: 16px;
    text-align: center;
    margin-bottom: 35px;
}

.footer .sub-name{
    width: 308px;
}

.footer .sub-email{
    width: 388px;
}

.footer .form{
    border: 1px solid #cbcbcb;
    display: inline-block;
    vertical-align: top;
}

.footer-form{
    color: #a9a9a9;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase; 
}

.footer-form:hover{
    color: #ffffff;
}

.footer .sub-forms{
    margin-bottom: 53px;
}

.address{
    position: relative;
    width: 1102px;
    margin: 0 auto;
}

.img-map{
    display: block;
    width: 1102px;
    height: 549px;
    margin: 0 auto;
}

.img-adress{
    width: 279px;
    height: 292px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 412px;
}

.title-adress{
    color: #ffffff;
    width: 165px;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 466px;
    top: 100px;
}

.sub-address{
    width: 165px;
    height: 115px;
    color: #aeb7ba;
    font-family: 'OpenSans-Regular',sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 466px;
    top: 124px; 
}

.sub-address:hover{
    transform: scale(1.15);
}

.link-address{
    text-decoration: none;
    color: #ffbb42;
}

.logo-footer{
    width: 50px;
    height: 48px;
    background-image: url('images/logo.png');
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 338px;
    left: 526px;
}

.nav-footer{
    padding-top: 56px;
    padding-bottom: 52px;
}

.sub-nav-footer{
    width: 811px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.nav-footer .link{
    color: #394b50;
    font-size: 13px;
    line-height: 15px;
}

.footer-tel{
    display: block;
    width: 190px;
    text-decoration: none;
    color: #394b50;
    font-family: 'Lato',sans-serif;
    font-size: 23px;
    line-height: 25px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 21px;
}

.phone{
    font-size: 20px;
}

.soc-seti{
    width: 125px;
    margin: 0 auto;
}

.soc-seti::after{
    clear: both;
    display: block;
    content: '';
}

.soc-icon{
    display: block;
    color: #709dca;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-decoration: none;
}

.soc-icon:hover{
    color: #ffc155;
    cursor: pointer;
    transition: 0.3s;
}

.twit{
    margin-right: 17px;
}

.face{
    margin-right: 15px;
}

.google{
    margin-right: 13px;
}

.copyright{
    font-size: 13px;
    line-height: 24px;
    background-color: #709dca;
    text-align: center;
    padding: 12px 0 13px 0;
}