@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans.eot');
    src: url('subset-OpenSans.eot?#iefix') format('embedded-opentype'),
        url('subset-OpenSans.woff2') format('woff2'),
        url('subset-OpenSans.woff') format('woff'),
        url('subset-OpenSans.ttf') format('truetype'),
        url('subset-OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

